{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-body">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div id="categories_carousel" class="products-wrapper slideshow">
                <ul>
                 <li>
                    <div class="portlet-item">
                        <div class="product-title">
                            <a href="/product-list/new_goods" class="product-title">Новинки</a>
                        </div>
                    
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="/product-list/new_goods">
                                   <img alt="Новинки" src="{{ STATIC_URL }}img/new.png" />
                                </a>
                            </div>

                        </div>
                    </div>
                </li>


                {% for category in categories %}
                <li>
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                        <div class="product-title">
                            <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                        </div>
                    
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="{{ category.get_absolute_url }}">
                                   <img src="{{ category.get_icon.url }}" alt="{{ category.name }}">
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {% endfor %}{# slideshow categories #}
                 </ul>
                {# tabs #}

            </div>
            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}

        </div>{# portlet-body #}
    </div>
{% endif %}

