<div id="portlet-tabs{{ container_id }}" class="tabs_main" style="display: none;">
 
<div id="tabs_title" class="pull-left">
	<ul>
		{% for portlet in portlets %}
		<li><a href="#tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">{{ portlet.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% for portlet in portlets %}
<div id="tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">
    {{ portlet.html }}
</div>
{% endfor %}
</div>
<script type="text/javascript">
$('#portlet-tabs{{ container_id }}').tabs();
$('#portlet-tabs{{ container_id }}').removeAttr('style')
$('div.portlet-header').hide();

</script>
