{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags reviews_tags lfs_portlets_tags %}
{% load share_widget %}
{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if products %}

    <div  class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
    
        </div>
        <div class="portlet-body">
            {% if products|length <= 4 or not slideshow %}
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product"> 
               {% for product in products %}
    
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if type_of_slot == 5 %} horizontal{% endif %}">
                   <div class="product-data">
                                
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_200x200 }}">
                                    </a>
                                </div>

                                <div class="product-price">
                                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                                    {{ product.price|floatformat:2 }}
                                        <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                                    </span>
                                </div>

                                {% if product.status.show_buy_button %}
                                <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                                    class="add-to-cart-form"
                                     method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                                </form>
                                {% else %}
                                  
                              {% if product.status.show_ask_button %}
                                <div class="pull-right">
                                    <a href="{% url 'lfs_product_question' product.id %}" class="btn btn-danger modal-link"
                                    id="id_ask_question" class="modal-link">
                                    {% trans "Заказать" %}</a>
                                </div>
                                {% endif %}
                                {% endif %}

                    </div>
                </div>
                
                {% endfor %}
                </div>
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
            {% elif slideshow or products|length > 4 %}
                {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
                 <div class="products-wrapper slideshow">
                    <ul class="jcarousel-skin-tango">
                    {% for product in products %}
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_200x200 }}">
                                    </a>
                                </div>
                                <div class="product-price">
                                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                                    {{ product.price}}
                                        <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                                    </span>
                                </div>


                                {% if product.status.show_buy_button %}
                                <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                                    class="add-to-cart-form"
                                     method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                                </form>
                               {% else %}
                                   {% if product.status.show_ask_button %}
                                    <div>
                                        <a href="{% url 'lfs_product_question' product.id %}" class="btn btn-danger buy modal-link"
                                        id="id_ask_question" class="modal-link">
                                        {% trans "Заказать" %}</a>
                                    </div>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </li>
                    {% endfor %}{# slideshow products #}
                     </ul>
                    {# tabs #}
                    
                    <ul style="display:none">
                    {% for product in products %}
                        <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    </ul>

                </div>
               
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
                <script type="text/javascript">
                        $(".jcarousel-skin-tango").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
    
                </script>
            {% endif %}
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
{% endif %}
