{% load i18n %}
{% load lfs_tags sshop_tags %}

{% if product.get_related_products %}

    <div class="related-products-portlet portlet span12">

        <div>
        <h4>Похожие товары</h4>
            <h4>{{ title }}</h4>
        </div>
       
        <div class="portlet-body">
         <div class="row-fluid">
            {% for related_product in product.get_related_products %}
                <div class="portlet-item span3">
                  <div class="product-caption">
                        <a href="{{related_product.get_absolute_url}}">
                            {{related_product.get_name}}
                        </a>
                    </div>
                    <div class="img-related-pr">
                    <img alt="{{related_product.get_name}}"
                         src="{{related_product.get_image.image.url_200x200}}" />
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="short-description">
                                <span itemprop="description">{{ related_product.get_short_description|safe}}<span>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="price">
                                {% price related_product %}
                            </div>
                        </div>
                       
                    </div>
                    <div class="row-fluid">
                          <div class="span12">
                             <button class="btn btn-danger buy" type="submit" name="add-to-cart">
                                 {% trans 'Купить' %}</button>    
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>


<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}