{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="top_dropdown navbar-inner">
        <ul id="top_category">
        <li class="main-category list-menu">
                    <a class="a_category" href="/product-list/new_goods">Новинки</a> 
        </li>
        {% for top_category in categories %}
        {% if top_category.exclude_from_navigation %}
        {% else %}
          <li id="cat_{{ top_category.id }}" class="main-category list-menu">
                    <a class="a_category top_cat" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content"></span>

                <div class="sub-nav">
                    {% if not top_category.is_leaf_node %}
                    <div id="sub_cat_{{ top_category.id }}" class="sub-category">
                        <div class="row-fluid">
                            {% for category in top_category.get_children %}
                            {% if forloop.first %}

                            <div class="category_row span12">
                            {% endif %}
                            <ul   {% if category.exclude_from_navigation %} class="hide-category" {% endif %}><li class="category_name {{ category.slug }}"><a class="red first-lvl"  href="{% url lfs_category category.slug %}">{{ category.name }}</a> 
                            
                            </li></ul>
                            <div class="sub-nav">
                            {% if not category.is_leaf_node %}
                            <div id="sub_cat_{{ category.id }}" class="sub-category pdl15">
                            <div class="row-fluid">
                            {% for sub in category.get_children %}
                            {% if forloop.first %}

                            <div class="category_row span12">
                            {% endif %}
                            <ul   {% if sub.exclude_from_navigation %} class="hide-category" {% endif %}><li class="sub_category_name {{ sub.slug }}"><a class="red"  href="{% url lfs_category sub.slug %}">{{ sub.name }}</a> 
                            
                            </li></ul>
                            {% if forloop.counter|divisibleby:category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>
                    <div class="category_row span4">
                {% endif %}
            {% endif %}
        {% endfor %}
                        
                    </div></div>
                    {% endif %}
                </div>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>
                    <div class="category_row span4">
                {% endif %}
            {% endif %}
        {% endfor %}
                        
                    </div></div>
                    {% endif %}
                </div>
            </li>

    
        {% endif %}
            {% endfor %}
        <li  class="main-category list-menu">
                    <a class="a_category" href="/product-list/rasprodazha">Распродажа</a>
        </li>
        
        <li class="main-category list-menu">
            <a class="a_category" href="/product-lists">Поводы и праздники</a>
                <div class="sub-nav">
                    <div class="sub-category">
                        <div class="row-fluid">
                            <div class="category_row span12">
                            <ul >
                                <li class="category_name">
                                    <a class="red " href="/product-list/Halloween">Halloween</a> <!--  /product-list/10 -->
                                </li>
                                <li class="category_name">
                                    <a class="red" href="/product-list/novuj_god">Новый год</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/8_marta">8 Марта</a>
                                </li>
                                <li class="category_name">
                                    <a class="red " href="/product-list/23_fevralya">23 февраля</a> <!--  /product-list/10 -->
                                </li>
                                <li class="category_name">
                                    <a class="red" href="/product-list/den_sv_valentina">День Св. Валентина</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/1_aprelya">1 апреля</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/svadba">Свадьба</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/ybilei">Юбилеи</a>
                                </li>
                            </ul>
                            </div>
                        
                    </div>
                    </div>
                </div>
        </li>

        <li class="main-category list-menu">
            <a class="a_category" href="/product-lists">Кому дарим?</a>
                <div class="sub-nav">
                    <div class="sub-category">
                        <div class="row-fluid">
                            <div class="category_row span12">
                            <ul>
                                 <li class="category_name">
                                    <a class="red " href="/product-list/dlja_zhenshin">Для Женщин</a>
                                </li>
                                <li class="category_name">
                                    <a class="red" href="/product-list/dlja_muzhchin">Для Мужчин</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/dlya_detej">Для Детей</a>
                                </li>

                            </ul>
                            </div>
                        
                    </div>
                    </div>
                </div>
        </li>
            
        <li class="main-category  list-menu">
            <a class="a_category" href="/product-lists">Тематические вечеринки</a>
                <div class="sub-nav">
                    <div class="sub-category">
                        <div class="row-fluid">
                            <div class="category_row span12">
                            <ul>
                                 <li class="category_name">
                                    <a class="red " href="/product-list/devicnik">Девичник</a>
                                </li>
                                <li class="category_name">
                                    <a class="red" href="/product-list/malchishnik">Мальчишник</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/kovbojskaja">Ковбойская</a>
                                </li>
                                <li class="category_name">
                                    <a class="red " href="/product-list/gangsterskaja">Гангстерская</a>
                                </li>
                                <li class="category_name">
                                    <a class="red " href="/product-list/gavajskaja">Гавайская</a>
                                </li>
                                <li class="category_name">
                                    <a class="red" href="/product-list/piratskaja">Пиратская</a>
                                </li>
                                 <li class="category_name">
                                    <a class="red" href="/product-list/skazochnaja">Сказочная</a>
                                </li>

                            </ul>
                            </div>
                        
                    </div>
                    </div>
                </div>
        </li>



        </ul>


        
    

</div>

</div>