{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}

<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">

        <div class="row-fluid">
            <div class="span12">
                 <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
            </div>
        </div> 

        <div class="row-fluid">
            <div id="product_picture" class="span12">
                    <a href="{% url lfs.catalog.views.product_view product.slug %}">
                     {% if product.get_image %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}"  />
                    {% else %}
                        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.name }}"/>
                    {% endif %}
                    </a>
            </div>
        </div>


        <div class="row-fluid">
            <div id="average_rating_block"  class="span6">
                <div>{% average_for_instance product %}</div>
            </div>
            <div class="span6">
                <div class="product-statuses">
                    <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                    {% if product.manage_stock_amount %}
                     <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                    {% if product.unit %}{{ product.unit }}{% endif %}</span>
                    {% endif %}                
                    {% if product.manual_delivery_time %}
                    {% trans "Delivery in" %} {{ product.delivery_time }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
               
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="for-sale-price">{% standard_price product %}</span>
                <span class=" price">{% for_sale_price product %}</span>
                </div>
            {% else %}

                <div class="product-price">
                <span class="label label-info price">{{ product.price|floatformat:2 }}
                    <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                </span>
                </div>

            {% endif %}

            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                    class="add-to-cart-form" method="post">
                {% csrf_token %}
                <input name="product_id" type="hidden" value="{{ product.id }}" />
                <input name="ajax_mode" type="hidden" value="1" />
               <!--  <input class="input-small inline" name="quantity" type="number" value="{{ product.default_value }}" /> -->
                <button class="btn btn-danger buy">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>
        
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>
 {% include "lfs/catalog/categories/product/products_navigation.html" %}
<div class="description">
    {{ category.description|safe }}
</div>