{% load i18n %}
{% load properties_tags %}
<h1 class="first-heading">
    {{ category.name }}
</h1>
<div id="categories">
        {% for row in categories %}
                {% for category in row %}
                 {% if category.exclude_from_navigation %}
                 {% else %}
                    <div class="category-item">
                      <div class="category-image">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url_100x100 }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                        <a href="{% url lfs_category category.slug %}"><h2 class="first-heading">{{ category.name }}</h2></a>
                        {% if category.get_image %}
                        
                        {% endif %}
                        <div class="category-description">
                            {{ category.short_description|safe }}
                        </div>
               <!--          <div class="clear details-button">
                            <a class="button emphasized"
                               href="{% url lfs_category category.slug %}">{% trans 'Details' %}
                            </a>
                        </div> -->
                      
                    </div>
                    {% endif %}
                {% endfor %}
        
        {% endfor %}

    <div class="description">
        {{ category.description|safe }}
    </div>
</div>
{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
          config.left_portlet_count++;
          config.right_portlet_count++;
          </script>
{% endblock %}