{% extends "lfs/base.html" %}
{% load i18n lfs_tags pagination_tags sshop_tags %}
{% load url from future %}
{% load staticfiles %}

{% block title %}
    {{ meta_title }}
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block section %}gallery{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a> /
            </li>
            <li>
                <span>{{ galleries_name }}</span> 
            </li>

    </ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery_plugin/gallery_plugin.css' %}">
<div class="gallery_plugin">
    {% for gallery in galleries %}
        <div class="gallery-block">
            {% if gallery.logo %}
                <div class="gallery-logo">
                    <a href="{% url 'gallery_page' gallery.slug %}">
                        <img src="{{ MEDIA_URL }}{{ gallery.logo }}">
                    </a>
                </div>
            {% endif %}
           <!--  <div class="gallery-photos">
                {% for photo in gallery.photos.all|slice:":4" %}
                    <img src="{{ MEDIA_URL }}{{ photo.image }}">
                {% endfor %}
            </div> -->
            <div class="gallery-title">
                <a href="{% url 'gallery_page' gallery.slug %}"><h4>{{ gallery.title }}</h4></a>
            </div>
        </div>
    {% endfor %}
</div>        
{% endblock %}
