{% load url from future %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery_plugin/gallery_plugin.css' %}">
<div class="portlet">
    <div class="portlet-header">
        <h4>{{ galleries_view_portlet.title }}</h4>
    </div>
    {% for gallery in galleries %}
        <div class="gallery-block">
            <a href="{% url 'gallery_page' gallery.slug %}">
                <p class="gallery-title">{{ gallery.title }}</p>
                <img src="{{ MEDIA_URL }}{{ gallery.logo }}">
            </a>
        </div>
    {% endfor %}
    
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>