{% extends "lfs/base.html" %}
{% load i18n lfs_tags pagination_tags sshop_tags %}
{% load staticfiles %}
{% load lfs_portlets_tags %}

{% block middle-slot %}{% endblock %}

{% block section %}gallery{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a> /
            </li>
            <li>
                <a href='/gallery/'>{{ galleries_name }}</a> /
            </li>
            <li>
                <span>{{ gallery.title }}</span>
            </li>
    </ul>
{% endblock %}

{% block content %}
<h1>{{ gallery.title }}</h1>
<div>{{ gallery.description }}</div>
<link rel="stylesheet" type="text/css" href="{% static 'gallery_plugin/gallery_plugin.css' %}">
{% autopaginate photos photos_pagination %}
<div class="gallery_plugin">
    <ul>
    {% for photo in photos %}
    <li>
        <div class="gallery-block">
            <a class="fancybox" title="{{ photo.description }}" data-fancybox-group="gallery" href="{{ photo.image.url }}" >
                <img src="{{ photo.image.url }}" alt="{{ photo.title }}"/>

            </a>
            <p class="gallery-title">{{ photo.title }}</p>
            {% if photo.product %}
                <p class="gallery-product-link">
                    <a href="{% url lfs_product photo.product.slug %}">{{ photo.product.get_name }}</a>
                </p>
            {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
</div>   
{% paginate %}
<script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
        $(document).ready(function(){
        $('.fancybox').fancybox({
            titleShow: true,
        });
        });
    });
</script>        
{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    config.left_portlet_count++;
    config.right_portlet_count++;
    mediator.publish('change_slots_width', "span3", "span7", "span9");
</script>
{% endblock %}