{% extends "lfs/base.html" %}
{% load lfs_tags  %}
{% load portlets_tags %}
{% load lfs_theme_tags %}
{% load sshop_tags %}
{% load prikoloff_templatetags %}
{% block head %}
{% insert_canonical_link as canonical_link %}
{% if canonical_link %}
<link rel="canonical" href="{{ canonical_link }}">
{% endif %}
{% endblock %}
{% block section %}category{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs category %}
{% endblock %}

{% block content %}
{% insert_canonical_link as canonical_link %}
    <input type="hidden" id="hr_urls_templates" value="{{ hr_urls_templates }}" />
    <input type="hidden" id="unpacked_hr_urls" value="{{ unpacked_hr_urls }}" />
    <input type="hidden" id="category_slug" value="{{ category_slug }}" />
    {{ category.static_block.html|safe }}
    {{ category_inline|safe }}
{% endblock %}