{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{# load reviews_tags #}
{% load cache %}


{% block section %}product{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs product %}
{% endblock %}

{% block content %}
    {{ product.static_block.html|safe }}
    <div id="product-inline" itemscope itemtype="http://data-vocabulary.org/Product">
        {{ product_inline }}
    </div>


    {% if cloud %}
        <div class="tags">
            <h1 class="section">{% trans 'Tag cloud' %}</h1>
            <div class="tag-cloud">
                {% for tag in cloud %}
                    <a href="{% url product_tag_detail tag.name %}" style="font-size:1{{ tag.font_size }}px">
                        {{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
    
          config.right_portlet_count++;
          config.left_portlet_count++;
    </script>


{% endblock %}
