{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% load bootstrap_toolkit %}


{% load i18n lfs_tags lfs_portlets_tags %}

{% block breadcrumbs %}
    {% breadcrumbs _("Новости, статьи и обзоры") %}
{% endblock %}


{% block content %}
<div id="middle-slot-container">
<div class="span12 pull-left">
    <link rel="stylesheet" type="text/css" href="{% static 'css/info-page.css' %}">
    <div class="info-all-news-block">
        {% autopaginate news 10 %}
            {% for n in news %}
                <div class="well">
                <div class="title">
                    <a href="/info/{{ n.category.all.0.slug }}/{{ n.slug }}.html"> <h4>{{ n.title }}</h4></a>
                </div>
                {% if n.icon %}
                    <img class="news_icon pull-left" src='{{MEDIA_URL}}{{n.icon}}'>
                {% endif %}
                <div class="description">{{ n.preamble|safe }}</div>
                {% if n.text %}
                    <div class="more pull-right">
                        <a href="/info/{{ n.category.all.0.slug }}/{{ n.slug }}.html">{% trans 'Read more'%}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        {% paginate %}
    </div>
</div>
</div>

{% endblock %}

{% block body_bottom %}
   <script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span12", "span9");
    config.left_portlet_count--;
    config.right_portlet_count--;
    </script>
{% endblock %}