<div id="wrapp-news" class="row-fluid">
    <div id="news_main">
        <h4 class="portlet-header"><a  href='/info/'> Новости</a></h4>
        {% for n in news %}
        <div class="news span2">
            <div class="wrap_img">
        <!--         <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img class="icon" width="50" src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a> -->
                <div class="description">
                    <p id="title_news"><a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }} </a>
                    </p>
                    {% if preamble %}
                        <p>{{ n.preamble|safe }}</p>
                    {% endif %}
                    <a class="pull-right" href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>подробнее</a>

                </div>
            </div>
        </div>
      
    {% endfor %}  
    </div>
</div>
<script type="text/javascript">
    // {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    // {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    config.right_portlet_count++;
    mediator.subscribe("document_ready", function(){
       $('#middle-slot-container').prepend($('#slider_{{portlet.id}}'))
    });
</script>