{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
<div class="header">
    <h3>{% trans 'Заказать' %}</h3>
</div>
{% if form %}
    <form action="{% url lfs_product_question product_id %}"
          data="{% url lfs_product_question product_id %}"
          method="post" class="form-horizontal modal-form">
        {% csrf_token %}
        {{ form.email|as_bootstrap:"horizontal" }}
        <div id="comment">
        {{ form.question|as_bootstrap:"horizontal" }}
        </div>
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans 'Заказать' %}" />
        </div>
    </form>
{% else %}
<h3>{% trans 'Спасибо за ваш заказ' %}</h3>
{% endif %}