{% load i18n l10n lfs_tags sshop_tags reviews_tags lfs_portlets_tags %}
{% load share_widget %}
{% load product_availability_tags %}
 
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form"
 method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span12">
    <h2 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h2>
    </div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span4">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}


    <div class="short-description">
        <span itemprop="description">{{ product.get_short_description|safe}}<span>
         <span class="product_code">Код - {{ product.id_1c }}<br /></span>
         <span class="product_code">Артикул: {{ product.get_sku }}<br /></span>
    </div>
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
            <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span7 well" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <div class="row-fluid">
            {% if product.status.show_buy_button %}
            <div class="span3">
                <p>количество</p>
            </div>
            <div class="span4">
            
                 {% if product.get_active_packing_unit %}
                <div class="product-quantity packing-unit pull-left" id="packing-url" 
                data="{% url lfs_calculate_packing product.id %}">
                    <input class="number quantity" name="quantity" type="text" 
                    value="{{ quantity }}" />
                    {{ unit }}
                </div>
                {% else %}
                <div class="product-quantity pull-left">
                    <input class="number quantity input-small" name="quantity" size="3" type="text"
                    value="{{ quantity }}" />
                </div>
                {% endif %}
            
            </div> <!-- span4 -->
            {% endif %}

        <div class="span5">
                {# Prices #}
                <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <span class="for-sale-price">{% standard_price product %}</span>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {{ product.price|floatformat:2 }}
                        <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                    </span>
                    </div>
                {% endif %}
                </div> <!-- prices -->
        </div>
    </div>
    

    <div class="row-fluid status_product_inline">
            <div class="span8">
                 <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ prodsuct.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}   
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>        
    </div>

    <div class="row-fluid">
            <div class="span6">
                <div>{% average_for_instance product %} <!-- <a href=""> Оставить отзыв</a>  --></div>
            </div>

            <div class="span6">
         
             {% if product.status.show_buy_button %}
                 <button class="btn btn-danger buy" type="submit" name="add-to-cart">
                    <i class="icon-shopping-cart icon-white">
                    </i> {% trans 'В корзину' %}</button>    
                   {% else %}
                    
                        {% if product.status.show_ask_button %}
                        <div class="span12" id="ask_when_available">
                            {% product_availability_button %}
                        </div>    
                        {% endif %}
                {% endif%}
            </div>
    </div>




    <div class="row-fluid">
           <div class="span6" id="share-block">
                 <p>Поделиться </p>
                <script type="text/javascript" src="//yandex.st/share/share.js"
                charset="utf-8"></script>
                <div class="share">
                <div class="yashare-auto-init" data-yashareL10n="ru"
                    data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus">
                </div>
                </div>
            </div>
            <div class="span6">
                <div class="delivery-img">
                    {% static_block "delivery" %}
                     <!-- <img src="{{ STATIC_URL }}img/delivery.jpg" alt={% trans 'Delivery' %}/> -->
                </div>
            </div>
        </div>
    </div>
   
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{% comment %}<div class="cart-toolbar well">
<div class="row-fluid">
    <div class="span5">
        <div class="label label-info">{% trans 'Bages will be here' %}</div>
    </div>
    {# Notebook and add to cart buttons #}
    <div class="span7">
        <div class="add-to-cart-form pull-right">
            {% if product.status.show_buy_button %}
               
                {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>

</div>
{% endcomment %}


{# Configurable Properties #} {% if product.is_configurable_product %}

{% endif %}
{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}
<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>

{% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}
{% if product.has_accessories %}
    <li><a href="{% url lfs_product_accessories product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url lfs_product_reviews product.slug %}"><span>{% trans "Отзывы" %}</span></a></li>
</ul>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>
 {% insert_portlet "relatedproductsportlet" %}
{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
          config.left_portlet_count++;
          config.right_portlet_count++;
          </script>
{% endblock %}
<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/" + id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
                $('#notebook')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                page_designer.page_rebuild();
                mediator.publish('change_slots_width', "span3", "span6", "span9");
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        $.ajax({
            url: "/comparison/add-product/" + product_id + "/" + id + "/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url lfs_comparison %}");
                $('#comparison')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                page_designer.page_rebuild();
                mediator.publish('change_slots_width', "span3", "span6", "span9");
            }
        });
    };
</script>
