{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load seo_data %}
{% load prikoloff_templatetags %}
{% block head %}
{% insert_canonical_link_product_list_pages as canonical_link %}
{% if canonical_link %}
<link rel="canonical" href="{{ canonical_link }}">
{% endif %}
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> /
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div id="product_list_table">
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">


 <div class="row-fluid">
    {% include 'product_list_pages/toolbar.html' %}
</div>

<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>

    <div id="products">
        <table class="table">
        {% if product_none %}
            <div class="alert">
                <p>{% trans 'Сейчас в этом списке нет товаров. Возможно они появятся позже.' %}</p>
            </div>
            <p><a href="/" class="btn btn-danger buy pull-right">{% trans 'Home'%}</a></p>
        {% elif not products_count%}
            <div class="alert">
                <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
            </div>
        {% endif %}
        {% for product in products %}
            {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
                    <div class="product-table-item">

                <div class="row-fluid">
                    <div class="span12">
                        <div class="product-caption"><a href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a>
                        </div>
                    </div>
                   {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                </div> 

                    <div class="row-fluid">
                        <div id="product_picture" class="span12">
                            {% property_value_icons product %}
                            <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                                {% if product.get_image.image.url_400x400 %}
                                    {% badges_for_product product %}
                                    <img class="img_product" alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}" />
                                {% else %}
                                    <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/200x200.gif" />
                                {% endif %}
                            </a>
                        </div> 
                    </div>
                    
                    <div class="row-fluid">
                    <div class="span6">
                        <div id="average_for_instance">{% average_for_instance product %}</div>
                    </div>
                    <div class="span6">
                         {% if not product.is_product_with_variants %}
                            <div class="product-statuses">
                            <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                            </div>
                    </div>
                    </div>
                   <div class="row-fluid">
                        <div class="span12">
                        {% if product.get_for_sale %}
                            <div class="product-price">
                            <span class="for-sale-price">{% standard_price product %}</span>
                            <span class=" price">{% for_sale_price product %}</span>
                            </div>
                        {% else %}
                            <div class="product-price">
                            <span class="label label-info price">{{ product.price|floatformat:2 }}
                                <span class="currency">{{ SHOP.default_currency.abbr }}</span>
                            </span>
                            </div>
                        {% endif %}
                        {% if product.status.show_buy_button %}
                        <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                            class="add-to-cart-form" method="post">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
        </table>
    </div>
    {% include "lfs/catalog/categories/product/products_navigation.html" %}

</div>
{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span7", "span9");
    config.left_portlet_count++;   
    config.right_portlet_count++;  
</script>
{% endblock %}