{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load i18n lfs_tags sshop_tags %}
{% block content %}
    <h2>{{ product_list.name }}</h2>
    <div id="products">
        <table class="table">
        {% for product_list_item in product_list_items %}
            {% if product_list_item.product.left_block %}<tr><td>{% else %}<td>{% endif %}
                <div class="product-table-item">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="product-caption"><a href="{% url 'lfs_product' product_list_item.product.slug %}">{{ product_list_item.product.get_name }}</a>
        </div>
        {% show_product_id product_list_item.product %}
        
        </div>
        {% for property in product_list_item.product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
        </div>
        <div class="row-fluid">
            <div class="span6">
                {% property_value_icons product_list_item.product %}
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product_list_item.product.get_image.image.url_400x400 %}
                        {% badges_for_product product_list_item.product %}
                        <img class="img_product" alt="{{ product_list_item.product.name }}" src="{{ product_list_item.product.get_image.image.url_400x400 }}" />
                    {% else %}
                        <img alt="{{ product_list_item.product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            {% if not product_list_item.product.is_product_with_variants %}
            <div class="span6">
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product_list_item.product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product_list_item.product.id }}">{% trans "Compare" %}</a>
                </div>
                <div class="product-statuses">
                <span class="label-popover label {{ product_list_item.product.status.css_class }} pointer" data-content="{{ product_list_item.product.status.description|striptags }}" title="" data-original-title="{{ product_list_item.product.status.name }}">{{ product_list_item.product.status.name }}</span>
                </div>
            {% if product_list_item.product.get_for_sale %}
                <div class="product-price">
                <span class="for-sale-price">{% standard_price product_list_item.product %}</span>
                <span class=" price">{% for_sale_price product_list_item.product %}</span>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product_list_item.product %}</span>
                </div>
            {% endif %}
            {% if product_list_item.product.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product_list_item.product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product_list_item.product.default_value }}" />
            <button class="btn btn-mini">{% trans "Add to cart" %}</button>
            </form>
            {% endif %}
            </div>
            {% endif %}
        </div>
        </div>
        {% if product_list_item.product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
    </table>
    </div>
{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
            mediator.publish('change_slots_width', "span3", "span7", "span9");
            config.left_portlet_count++;
            config.right_portlet_count++; 
</script>
{% endblock %}