{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load seo_data %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <span>{{ product_lists_page_name }}</span>	
    </li>
</ul>
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
	<div class="product_lists">
	{% for extra_product_list in extra_product_lists %}
		<div class="product_list_block pull-left">
			<a href="{% url 'product_list_page' extra_product_list.slug %}">
				<div class="product_list_logo">

					{% if extra_product_list.logo %}
						<img src="{{ extra_product_list.logo.url }}" alt="">
					{% endif %}

				</div>
				<div class="product_list_name">
					{{ extra_product_list.product_list.name }}
				</div>
			</a>
		</div>
	{% endfor %}
	</div>
{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span7", "span9");
            config.left_portlet_count++;
            config.right_portlet_count++;
</script>
{% endblock %}