{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load properties_tags %}
{% load i18n lfs_tags sshop_tags %}
{% load seo_data %}
{% load prikoloff_templatetags %}
{% block head %}

{% insert_canonical_link_product_list_pages as canonical_link %}
{% if canonical_link %}
<link rel="canonical" href="{{ canonical_link }}">
{% endif %}
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" >
    <li>
        <a href="/" ><i class="icon-home"></i></a> /
    </li>
    <li>
        <a href='{% url "product_lists" %}'>{{ product_lists_page_name }}</a> /
    </li>
    <li>
        <span> {{ product_list.name }}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div id="product_list_list"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/product_lists.css' %}">
{% include "product_list_pages/toolbar.html" %}


<div class='extra_product_list_description'>
    {% if extra_product_list.logo %}
        <img class="pull-left extra_product_list_logo" src="{{extra_product_list.logo.url}}">
    {% endif %}
    {{ extra_product_list.description|safe }}
</div>
    

<div id="products">
     {% if product_none %}
        <div class="alert">
            <p>{% trans 'Сейчас в этом списке нет товаров. Возможно они появятся позже.' %}</p>
        </div>
        <p><a href="/"  class="btn btn-danger buy pull-right">{% trans 'Home'%}</a></p>
    {% elif not products_count%}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            <div class="span8">
                
                <div class="product-caption"><a href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a></div>
                {% show_product_id product %}
                {% property_value_icons product %}
                <div class="product-description">{{ product.get_short_description|safe }}</div>

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span2">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url 'lfs_product_variants_for_category' product.pk %}" class="btn btn-mini ajax-load" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="for-sale-price">{% standard_price product %}</span>
                <span class=" price">{% for_sale_price product %}</span>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product.default_value }}" />
            <button class="btn btn-danger buy">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
</div>
{% endblock %}


{% block body_bottom %}
<script type="text/javascript">
            mediator.publish('change_slots_width', "span3", "span7", "span9");
            config.left_portlet_count++;    
            config.right_portlet_count++;
</script>
{% endblock %}