{% load i18n lfs_tags %}
{# Link bar #}
<div class="navbar header-nav">
    {% actions Link_bar %}
    <ul class="nav">
        {% for action in actions %}
         <li {% if action.link in request.path %} class="active" {% endif %}><a href="{{ action.link }}">{{ action.title }}</a></li>

           <!--  <li {% if action.link == request.path %}  class=" portlet_caption active_link" {% else %} class=" portlet_caption"{% endif %} ><a href="{{ action.link }}">{{ action.title }}</a></li> -->
        {% endfor %}
    </ul>
</div>