{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}
{# This is a common version of top bar #}
<div class="row-fluid">
    <div class="span12">
        {% include "lfs/link_bar.html" %}
    </div>
</div>