{% load i18n %}
<div class="cart-content">
    <div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div id="empty_cart_main">
        <div class="span4  offset4 pull-left">     
            <p id="cart-title" class="empty-cart pull-left">Корзина<br>пуста</p>      
        </div>
        <div  id="cart_img" class="span4">
        </div>    
        </div>
        {% else %}
        <div class="span6  offset2 pull-left">   
            <p id="cart-title" class="pull-left">{% trans "Корзина " %}({{ amount|floatformat }})</p>
            <p class="pull-left">{% trans 'на сумму' %}: <span >{{ total_price|floatformat }} </span>{{ SHOP.default_currency.abbr }}</p>
           
<!-- div class="span4">
                <a id="clear-cart" >{% trans 'Очистить' %}</a>
            </div> -->
        </div>

        <div  id="cart_img_full" class="span4">
            <a  href="{% url lfs_checkout %}"><div id="cart_click"></div></a>
        </div>   
        
   <!--      <div class="row-fluid"> 
            <div class="span8">
                
            </div>    
            <div class="span4">
                <a id="clear-cart" >{% trans 'Очистить' %}</a>
            </div>
        </div>  -->
        {% endif %}
        {% endwith %}
    </div>
     {% with amount=cart.get_amount_of_items %}
     {% if amount == 0 or not cart %}
     {% else %}
    <div class="row-fluid">
        <div class="span12">
             <a class="btn btn-danger buy pull-right" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    {% endif %}
        {% endwith %}
</div>
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
