{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% load bootstrap_toolkit %}


{% block head %}
    {% if page.get_meta_keywords %}
        <meta name="keywords" content="{{ page.get_meta_keywords }}" />
    {% endif %}
    {% if page.get_meta_description %}
        <meta name="description" content="{{ page.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block section %}page{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs page %}
{% endblock %}

{% block content %}


<div class="page-header">
    <h1 class="first-heading">
        {{ page.title }}
    </h1>
</div>

<div id="page-body">
        {{ page.body|safe }}

        
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}

{% lfs_portlet_slot 'Bottom' %}

{% endblock %}

{% block body_bottom %}
   <script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span12", "span9");
    config.left_portlet_count--;
    </script>
{% endblock %}
