{% load lfs_tags %}
{% load l10n %}

{% localize off %}
{% if average %}
<div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
            <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
                <meta itemprop="average" content="{{average}}" />
                <meta itemprop="votes" content="{{ amount }}" />
                <meta itemprop="best" content="5" />
            </span>
            <li class="current-rating"
                style="width:{{average|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
    </div>
</div>
    {% else %}
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
            <a href="#" class="rate " style="z-index:; width:px"></a>
        </ul>
    </div>
{% endif %}
{% endlocalize %}