{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load url from future %}
   <table class="table table-bordered table-hover table-striped">
    <tr>
        <td width="25%">
            {% trans 'Order number:' %}
        </td>
        <td width="25%">
            {{ order.number|default_if_none:"-" }}
        </td>
        <td width="25%">
            {% trans 'Date' %}:
        </td>
        <td width="25%">
            {{ order.created|date:_("DATETIME_FORMAT") }}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'E-mail' %}:
        </td>
        <td>
            <a href="mailto:{{ order.customer_email }}">
                {{ order.customer_email }}
            </a>
        </td>
        <td>
            {% trans 'State' %}:
        </td>
        <td>
            {{ order.get_state_display }} {% if order.state_modified %}({{ order.state_modified|date:_("DATETIME_FORMAT") }}){% endif %}
        </td>
    </tr>


    {% for phone in order.customer.phones.all %}
    <tr>
        <td class="label">
            {{ phone.get_type_display }}:
        </td>
        <td>
            {{ phone.number }}
        </td>
    </tr>
    {% endfor %}
    
</table>

<br>

{{ order.shipping_info }}
{{ order.payment_info }}
        
<br>

<div class="more_payment_detail">
<b>
{% if order.payment_method.id == 2 %}
<b>
    <p style="font-weight: bold;">Наши реквизиты:<br>Карта Приват банка:</p>
    <p style="font-weight: bold;">№ 4149 4378 1983 1130<br>Педченко Наталья Васильевна</p>
    <p style="font-weight: bold;">Не проводите оплату заказа пока с Вами не свяжется наш менеджер для более детального обсуждения комплектации и сроков доставки!</p>
</b>
{% endif %}

{% if order.payment_method.id == 3 %}
<b>
    <p style="font-weight: bold;">Наши реквизиты:<br>Расчетный счет:</p>
    <p style="font-weight: bold;">Педченко Наталья Васильевна</p>
    <p style="font-weight: bold;">р/р 26004000067693<br>Пат "Украсоцбанк" г. Киев<br>МФО 300023</p>
    <p style="font-weight: bold;">Иден. номер 2786019301</p>
    <p style="font-weight: bold;">Не проводите оплату заказа пока с Вами не свяжется наш менеджер для более детального обсуждения комплектации и сроков доставки!</p>
</b>
{% endif %}
</b>
</div>


        <table class="table table-bordered table-hover table-striped order-inline">

     <tr style="text-align: left;">
        <th width="15%">
            {% trans 'Image' %}
        </th>
        <th width="10%">
            {% trans 'SKU' %}
        </th>
        <th width="28%">
            {% trans 'Name' %}
        </th>
        <th width="17%"
            class="number">
            {% trans 'Amount' %}
        </th>
        <th width="10%"
            class="number">
            {% trans 'Price' %}
        </th>
        <th width="20%"
            class="number">
            {% trans 'Total' %}
        </th>
    </tr>

    {% for item in order.items.all %}
        <tr class="product-row">
            <td class="top">
                <img src="{{ site }}{{ item.product.get_image.image.url_medium }}">
            </td>
            <td class="top">
                {{ item.product_sku }}
            </td>
            <td class="top">
                {{ item.product_name }}
            </td>

            <td class="number top">
               {{ item.amount }} {{ item.product.unit }}
            </td>
            <td class="number top">
               {% format_as_price item.product_price %}{% if item.product.price_unit %} / {{ item.product.price_unit }}{% endif %}
            </td>
            <td class="number top">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price item.price order.payment_method %}</strong> ({% format_as_price item.price %})
               {% else %}
                {% format_as_price item.price %}
               {% endif %}
            </td>
        </tr>
    {% endfor %}

    {% if order.voucher_number %}
        <tr>
            <td></td>
            <td>
                {% trans 'Voucher' %} ({{ order.voucher_number }})
            </td>
            <td></td>
            <td class="number">
                1
            </td>
            <td class="number">
                -{% format_as_price order.voucher_price %}
            </td>
            <td class="number">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>-{% format_as_payment_price order.voucher_price order.payment_method %}</strong> (-{% format_as_price order.voucher_price %})
               {% else %}
                -{% format_as_price order.voucher_price %}
               {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr class="total">
        <td colspan="6"
            class="number total">
            <div class="pull-right">
            <b>{% trans 'Total' %}:</b> {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price order.price order.payment_method %}</strong> ({% format_as_price order.price %})
                {% else %}
                {% format_as_price order.price %}
                {% endif %}
            </div>
        </td>
    </tr>
    </table>
<br>
<!-- thank_you  -->


{% if order.message %}
    <table class="order-message">
        <tr>
            <th colspan="5">
                {% trans 'Your message to us' %}
            </th>
        </tr>
        <tr>
            <td colspan="5">
                {{ order.message }}
            </td>
        </tr>
    </table>
{% endif %}
